.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-width: fit-content;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
  margin-bottom: 0.5em;
}

.error_message {
  border: 1px solid transparent;
  padding: 0.15em;
  height: 1em;
  .error_text {
    font-size: smaller;
    color: red;
  }
}

.error_input {
  border: 1px solid red;
}
